<%- include('header'); -%>
<h1>Hello world</h1>
<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam malesuada lacinia sem. Etiam venenatis consequat libero ut vulputate. Cras ut tincidunt enim, in auctor magna. In rhoncus nisl elit, ut lacinia enim volutpat in. Cras sagittis gravida nulla eget aliquam. Curabitur egestas sed sapien cursus hendrerit. Sed consectetur accumsan elit nec mollis. Vestibulum laoreet arcu volutpat lectus auctor vehicula. Donec a venenatis massa, sit amet rutrum lectus. Suspendisse a mauris non nulla volutpat hendrerit. Phasellus efficitur blandit sem id rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<%- include('footer'); -%>
